<!-- Wappler include head-page="layouts/workplace" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="eventis" appConnect="local" -->
<meta name="ac:route" content="/events/eventis">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>События</h1>
        </div>
    </div>
</div>