.style1 {
    background-image: url("../assets/fon/360_F_334801873_LySrTmPs9CkLuKNlF2duWXZpA6EuMz8X.jpg")
}
.style2 {
    width: 4%;
    min-height: 850px;
    height: 100%
}
.style3 {
    height: 50px
}
.style5 {
    width: 5%
}
.style6 {
    width: 100%;
    height: 60px
}