<!-- Wappler include head-page="layouts/sistem" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="download" appConnect="local" -->
<meta name="ac:route" content="/sistem/download">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Скачать</h1>
        </div>
    </div>
</div>