<!-- Wappler include head-page="layouts/workplace" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="sporting_line" appConnect="local" -->
<meta name="ac:route" content="/sport_line/sporting_line">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Спортивные ставки</h1>
        </div>
    </div>
</div>